tsocks.config
tsocks.creator
tsocks.creator.user
tsocks.files
tsocks.includes
Makefile
autom4te.cache/
configure
config.status
tsocks
config.h
config.log
*.o
*.dsyM/
inspectsocks
saveme
libtsocks.dylib
libtsocks.dylib.1.8
validateconf
set_debug_var.sh
